@page "/register"
@layout LoginLayout
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<h1>Register</h1>

<strong>@Message</strong>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Username</label>
                <InputText class="form-control" @bind-Value="RegisterModel.UserName" />
                <ValidationMessage For="@(() => RegisterModel.UserName)" />
            </div>

            <div class="form-group">
                <label>First Name</label>
                <InputText class="form-control" @bind-Value="RegisterModel.FirstName" />
                <ValidationMessage For="@(() => RegisterModel.FirstName)" />
            </div>

            <div class="form-group">
                <label for="email">Last Name</label>
                <InputText class="form-control" @bind-Value="RegisterModel.LastName" />
                <ValidationMessage For="@(() => RegisterModel.LastName)" />
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" class="form-control" @bind-Value="RegisterModel.EmailId" />
                <ValidationMessage For="@(() => RegisterModel.EmailId)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
                <ValidationMessage For="@(() => RegisterModel.Password)" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
                <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private RegisterModel RegisterModel = new RegisterModel();
    private string Message = string.Empty;

    private async Task HandleRegistration()
    {

        var result = await AuthenticationService.Register(RegisterModel);

        if (result.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Message = "Error al registrar el Usuario " + result.StatusCode.ToString();
        }
    }

}